.body {
	background-color: #FFFFFF;
	margin: 0;
}
.header {
	font-family: sans-serif;
	background-color: #FFFFFF;
	height: 62px;
	border-bottom: 1px solid #ECECEC;
	text-align: center;
	margin-top: 12px;
}
.header-img {
	width:120px;
	vertical-align: middle;
}