.body {
	background-color: #FFFFFF;
	margin: 0;
	font-family: Helvetica;
}
.header {
	background-color: #FFFFFF;
	height: 62px;
	border-bottom: 1px solid #ECECEC;
	text-align: center;
	margin-top: 12px;
}
.header-img {
	width:120px;
	vertical-align: middle;
}
.header-search {
	background-color: #FAFAFA;
	border: solid 1px #EDEEEE;
	font-size: 14px;
    font-weight: 300;
    height: 28px;
    width: 216px;
    border-radius: 15px;
    color: #A0A0A0;
    text-align: center;
    margin-left: 230px;
    margin-right: 300px;
}
.header-search:focus {
	border: solid 1px #EDEEEE;
	outline: none;
	text-align: left;
	color: #000000;
}
.header-logout {
	font-weight: bold;
	color: #125688;
    text-decoration: none;
}
.profile {
	text-align: left;
	margin-top: 50px;
}
.avatar {
    border-radius: 50%;
    border: 1px solid #cccfd0;
    float:left;
    margin-left: 300px;
    margin-right: 100px;
}
.login {
	display: inline-block;
	font-weight: normal;
	color: #4b4f54;
	font-size: 32px;
	text-align: left;
	margin-right: 20px;
}
.edit-profile {
	line-height: 39px;
	padding: 7px 11px 7px 11px;
	background-color: #FFFFFF;
	border-color: #818488;
    color: #818488;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    vertical-align: middle;
}
.edit-profile:hover {
	text-decoration: none;
	color: #505050;
	border-color: #505050;
}
.name {
	color: #505050;
	font-weight: bold;
}